{% extends 'layout.html' %}

{% block body %}
<nav>
    <button id="cart-btn">Go to Cart</button>
</nav>



<div class="obj">
    <div class="text-container">
        <h3 class="plant-title">plant name</h3>
        <div class="about-obj">
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut maxime consequatur dolorem iste, aliquid hic itaque nisi! Atque inventore nisi distinctio enim aliquid ipsam corporis repellat deleniti aperiam, sit voluptas.</p>
            <button type="button">More</button>
        </div>
    </div>
    <div id="button-container">
        <button id="add-to-cart-btn">Add to cart</button>
    </div>
</div>

<div id="plant-container" class="obj">
    

</div>


{% endblock %}