{% extends 'layout.html' %}

{% block body %}
<nav>
    <button class="cart-btn" id="list-btn">Go to cart</button>
</nav>

<div id="index-div">
    <div id="larg-tomato-container" class="plant-container">
        <h1 class="title top-title">Main Slicing Tomatoes</h1>
    </div>
 
    <div id="small-tomatoes">
        <h1 class="title">Small-Fruited Tomatoes</h1>
    </div>
    <div id="peppers">
        <h1 class="title">Peppers</h1>
    </div>
    <div id="other-garden-plants">
        <h1 class="title">More Garden Plants</h1>
    </div>
</div>

<div class="list hidden" id="list-container">

    
</div>


{% endblock %}
