

#list-btn {
    width: 80vw;
    height: 10vh;
    border-radius: 20px;
    font-size: 35px; 
    background-color: #51C337;
    /* margin-bottom: 20px; */
}

#list-btn:hover {
    background-color: #51c337b6;
}

nav {
    display: flex;
    justify-content: center;
}


.plant-class{
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.item-div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    border-bottom: solid 2px black;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px black;
}

.add-to-cart-btn {
    background-color: #FFC300;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
}

.add-to-cart-btn:hover {
    background-color: #FFF300;
}


.about-btn {
    background-color: #BBBBBB;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
}

.about-btn:hover {
    background-color: #d3d2d2;
}

.list-remove-btn {
    background-color: red;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
}

.list-remove-btn:hover {
    background-color: #ff0000a4;
}

.list-items {
    font-size: 22px;
    list-style-type: none;
}