body {
    background-color: darkgrey;
}

#list-btn {
    width: 80vw;
    height: 10vh;
    border-radius: 20px;
    font-size: 35px; 
}

nav {
    display: flex;
    justify-content: center;
}


.plant-class{
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}
