body {
    background-color: darkgrey;
}

#cart-btn {
    width: 80vw;
    height: 10vh;
    border-radius: 20px;
    font-size: 35px; 
}

nav {
    display: flex;
    justify-content: center;
}

.obj {
    border: solid 3px black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.about-obj {
    padding-left: 3vw;
}


#button-container{
    border: solid 3px red;
    width: 100px;
    align-items: flex-end;
}

.text-container {
    border: solid 3px red;
}

#add-to-cart-btn {
    width: 100%;
    height: 100%;
}